---
import Layout from "../../layouts/Layout.astro";
const detailData ={
    title: "Client History (CH) & Food/Nutrition - Related History (FH)"
}
import RelatedHistory from "../../components/Rh.astro";
---
<Layout title={detailData.title}>
    <div class="bg-[#EDF9FF] min-h-screen w-full flex justify-center items-start">
    <RelatedHistory />
</div>
</Layout>
