---
---
<uk-card class="p-4 bg-white shadow-sm rounded-lg h-full"> 
  <h2 class="font-semibold uk-margin-small-bottom">Nutrition Problem:</h2>
  <textarea
    class="uk-textarea uk-margin-top"
    rows="5"
    placeholder="Write a text..."
  ></textarea>
</uk-card>
