---
import NutritionContainer from "../components/Nutritionist_Dietician list/NutritionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nourish360" isDoctorPage={true}>
  <div class="flex-1">
    <NutritionContainer />
  </div>
</Layout>
