<div class="flex justify-between items-center mb-8">
    <h2 class="text-2xl font-bold">Patients details</h2>
    
    <div class="flex items-center space-x-4">
      <select class="p-2 bg-gray-100 rounded">
        <option>By type</option>
        <option>Low Risk</option>
        <option>Moderate Risk</option>
        <option>High Risk</option>
      </select>
  
      <select class="p-2 bg-gray-100 rounded">
        <option>Sort by</option>
        <option>Name</option>
        <option>Visits</option>
      </select>
  
      <button class="flex items-center p-2 bg-yellow-300 rounded-lg hover:bg-yellow-400 hover:scale-105 transition duration-200 ease-in-out">
        <span class="ml-1">Filter</span>
        <img src="icons/filter.png" alt="Filter" class="w-4 h-4 m-1"> <!-- Adjust size as needed -->
      </button>
  
      <input type="text" placeholder="NAME" class="p-2 bg-gray-100 rounded-lg">
    </div>
  </div>  